
<section>
  <div class="font-mono mt-5 text-lg font-bold text-[#1da1f2]">All products</div>
  <app-products-list [products]="(products$ | async) || []"></app-products-list>
</section>

<section>
  <div class="font-mono mt-5 text-lg font-bold text-[#1da1f2]">Sorted by price products</div>
  <app-products-list [products]="(sortedByPriceProducts$ | async) || []"></app-products-list>
</section>

<section>
  <div class="font-mono mt-5 text-lg font-bold text-[#1da1f2]">Chipest products</div>
  <app-products-list [products]="(chipestProducts$ | async) || []"></app-products-list>
</section>
